.add-invoice-btn-row {
  margin-top: 20px;
  margin-bottom: 10px;
}

.add-invoice-btn {
  width: 100%;
}
.invoice-description-data {
  text-align: left;
  padding-left: 10px;
}

.cell-description-header {
  text-align: left;
  padding-left: 0px;  
}